services:
  panoptikauth:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["dev"]
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "0.0.0.0:3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
